<div class="container">

    <div class="show">
    <table class="table table-bordered DetailTable">
      <tbody>
        <tr>
          <th scope="row">メールアドレス</th>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <th scope="row">パスワード</th>
          <td>*********</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= link_to "編集",edit_user_registration_path, class: "btn btn-warning btn-sm" %>